body {
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
}

@font-face {
  font-family: "Digital-7";
  src: url("./fonts/digital-7.ttf");
}

#calculator-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: #99c089;
}

.calculator {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 330px;
  height: 480px;
  background: #575757;
  border-radius: 25px;
  padding: 25px;
  box-sizing: border-box;
}

.display {
  display: flex;
  flex: 1;
  max-height: 65px;
  background: #bbd0bf;
  border-radius: 15px;
  position: relative;
  overflow: hidden;
}

#output {
  display: flex;
  position: absolute;
  right: 0;
  left: 0;
  justify-content: flex-end;
  align-items: flex-end;
  font-size: 65px;
  padding: 0 10px;
  font-family: "Digital-7";
}

.buttons {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  flex: 1;
  margin-top: 30px;
}

.buttons-row {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  flex: 1;
  background-color: #575757;
}

button {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 10px;
  width: 55px;
  height: 55px;
  background-color: #e8e8e8;
  border: 1px solid black;
  border-radius: 10px;
  text-transform: uppercase;
  font-size: 35px;
}

#equal {
  background-color: #e29506;
}

.button-text-sm {
  font-size: 22px;
  font-weight: 600;
}

button:hover {
  background-color: aqua;
  cursor: pointer;
}
