body {
  display: flex;
  background-color: #0c0404;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

@keyframes tails {
  from {
    transform: rotateY(0);
  }
  to {
    transform: rotateY(1800deg);
  }
}

@keyframes tails-rotate {
  from {
    transform: rotateY(0);
  }
  to {
    transform: rotateY(1800deg);
  }
}


@keyframes heads {
  from {
    transform: rotateY(0);
  }
  to {
    transform: rotateY(1980deg);
  }
}

@keyframes heads-rotate {
  from {
    transform: rotateY(0);
  }
  to {
    transform: rotateY(1980deg);
  }
}

#coin {
  display: inline-block;
  position: relative;
  width: 80px;
  height: 80px;
  border-radius: 50%;
  cursor: pointer;
  transition: transform 1s ease-in;
  transform-style: preserve-3d;
}

#coin.disabled {
  cursor: auto;
}

#coin.heads {
  animation: heads 2s ease-out forwards;
}
#coin.heads.rotate {
  animation: heads-rotate 2s ease-out forwards;
}

#coin.tails {
  animation: tails 2s ease-out forwards;
}
#coin.tails.rotate {
  animation: tails-rotate 2s ease-out forwards;
}

.side {
  position: absolute;
  width: 100%;
  height: 100%;
  background-repeat: no-repeat;
  background-size: cover;
  backface-visibility: hidden;
  border-radius: 50%;
}

#tails {
  background-image: url("img/coin.jpg");
  background-position: right;
}

#heads {
  background-image: url("img/coin.jpg");
  background-position: left;
  transform: rotateY(-180deg);
}
